

.App {
  text-align: center;
  grid-area: cell;

  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-area: cell;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "list details";
  font-size: calc(10px + 2vmin);
  color: white;
}
.App code {
  background: #FFF3;
  padding: 4px 8px;
  border-radius: 4px;
}
.App p {
  margin: 0.4rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


#header {
  grid-area: header;
}

#list {
  grid-area: list;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "cell";
}
.danceTable {
  grid-area: cell;
}

#details {
  grid-area: details;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
