

.App {
  text-align: center;
  grid-area: cell;

  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-area: cell;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "list details";
}
.App code {
  background: #FFF3;
  padding: 4px 8px;
  border-radius: 4px;
}
.App p {
  margin: 0.4rem;
}

@media (prefers-reduced-motion: no-preference) {
  .loadingImage {
    animation: App-logo-spin infinite 20s linear;
  }
}


#header {
  font-size: calc(10px + 2vmin);
  grid-area: header;
}

#list {
  grid-area: list;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "cell";
}
.loadingImage {
  grid-area: cell;
  justify-self: center;
  align-self: center;
  height: 40vmin;
  pointer-events: none;
}
.danceTable {
  grid-area: cell;
}

#details {
  grid-area: details;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    "videoToolbar"
    "videoArea"
    "danceProperties"
    "danceControls"
    "overflow"
    ;
}

#videoToolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  grid-area: videoToolbar;
  padding-bottom: 10px;
}

#playback {
  grid-area: videoArea;
}

#danceControls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  grid-area: danceControls;
}

#danceProperties {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  grid-area: danceProperties;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
