{
    "devices": [
        {
            "id":"sonar1",
            "type":"sonar",
            "class":"sonar",
            "enabled":true,
            "config": {
                "detectionDistance": 150,
                "debounceRate": 2
            }
        },
        {
        	"id":"tapedeck1",
        	"type":"audio",
        	"class":"audio",
        	"enabled":true
        }

    ]
}